# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Git
# =========================
.git/
.gitignore

# =========================
# Model weights
# =========================
models/weights/
*.pth

# =========================
# Runtime generated images
# =========================
static/images/*

# Keep website assets
!static/images/homepage.png
!static/images/workflow.jpg
!static/images/VHS_upload.png
!static/images/Spinner.png
!static/images/VHS_report_normal.png
!static/images/CTR_report_abnormal.png
!static/images/favicon_1.png
!static/images/favicon_2.png

# Optional
uploads/
results/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/