# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Git
# =========================
.git/
.gitignore

# =========================
# Model weights
# =========================
models/
*.pth

# =========================
# Generated outputs
# =========================
static/images/*

# Keep website assets
!static/images/logo.png
!static/images/favicon_1.png
!static/images/favicon_2.png

# Optional
uploads/
results/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/