# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.log

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Flask
# =========================
instance/
*.sqlite3

# =========================
# Generated images
# =========================
static/images/*
!static/images/.gitkeep
!static/images/logo.png
!static/images/favicon_1.png
!static/images/favicon_2.png

# =========================
# Model weights
# =========================
models/
*.pth

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/